<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'PROPERTY_CREATE_TITLE' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button color="danger" (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button color="secondary" (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="done()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.propertyPic.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'PROPERTY_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.propertyPic.value"></div>
    </div>
    <ion-list inset>
      <ion-item>
        <ion-label color="primary" inline>{{ 'PROPERTY_NAME_PLACEHOLDER' | translate }}</ion-label>
        <ion-input type="text" placeholder="{{ 'PROPERTY_NAME_PLACEHOLDER' | translate }}" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" inline>{{ 'PROPERTY_CONTACT_NO_PLACEHOLDER' | translate }}</ion-label>
        <ion-input type="tel" placeholder="{{ 'PROPERTY_CONTACT_NO_PLACEHOLDER' | translate }}" formControlName="contact_no"></ion-input>
      </ion-item>      
      <ion-item>
        <ion-label color="primary" inline>{{ 'PROPERTY_STREET_ADDRESS_PLACEHOLDER' | translate }}</ion-label>
        <ion-textarea type="text" placeholder="{{ 'PROPERTY_STREET_ADDRESS_PLACEHOLDER' | translate }}" formControlName="street_address"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label color="primary" inline>{{ 'PROPERTY_SUBURB_PLACEHOLDER' | translate }}</ion-label>
        <ion-input type="text" placeholder="{{ 'PROPERTY_SUBURB_PLACEHOLDER' | translate }}" formControlName="suburb"></ion-input>
      </ion-item>        
      <ion-item>
        <ion-label color="primary" inline>{{ 'PROPERTY_PRICE_PLACEHOLDER' | translate }}</ion-label>
        <ion-input type="number" placeholder="{{ 'PROPERTY_PRICE_PLACEHOLDER' | translate }}" formControlName="price"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" >{{ 'PROPERTY_PERIOD_PLACEHOLDER' | translate }}</ion-label>
            <ion-select formControlName="period">
              <ion-option value="month">Monthly</ion-option>
              <ion-option value="weekly">Weekly</ion-option>
              <ion-option value="daily">Daily</ion-option>
            </ion-select>
      </ion-item>
 <!--      <ion-item>
        <ion-label color="primary" inline>{{ 'PROPERTY_LISTED_PLACEHOLDER' | translate }}</ion-label>
        <ion-toggle  formControlName="isListed"></ion-toggle>
      </ion-item>  
      <ion-item>
        <ion-label color="primary" inline>{{ 'PROPERTY_VERIFIED_PLACEHOLDER' | translate }}</ion-label>
        <ion-toggle  formControlName="isVerified"></ion-toggle>
      </ion-item>    -->               
    </ion-list>
  </form>
</ion-content>