<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ rentalProperty.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="rentalProperty.propertyPic" class="item-profile" text-center #profilePic [style.background-image]="'url(' + rentalProperty.propertyPic + ')'">
  </div>
  <div *ngIf="rentalProperty.propertyPic==null" class="item-profile" text-center #profilePic [style.background-image]="'url(assets/imgs/logo.png)'">
  </div>

	<ion-list>
	  <ion-list-header color="primary">
	    {{rentalProperty.name}}
	  </ion-list-header>
	  <ion-item-group>
	    <ion-item-divider color="primary">Basic</ion-item-divider>
		<ion-item>
			<ion-icon name="leaf" item-start></ion-icon>
			  Herbology
			<ion-icon name="rose" item-end></ion-icon>
		</ion-item>
	    <ion-item>Argentina</ion-item>
	  </ion-item-group>
	  <ion-item-group>
	    <ion-item-divider color="primary">Amenities</ion-item-divider>
	    <p>{{rentalProperty.about}}</p>
	  </ion-item-group>	  
	</ion-list>

</ion-content>