<ion-header>

  <ion-navbar color="primary">
    <ion-title>Publish Your Song</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button  (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
 
</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="done()">
  <ion-list >    
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" accept="image/*" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture($event)">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.art.value">
        <ion-icon name="add"></ion-icon>
        <div>
          Song Cover Art
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.art.value"></div>
    </div>    
      <ion-item>
        <ion-label color="primary" fixed>Song</ion-label>
        <ion-input type="file" accept="audio/*"  formControlName="file"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Artist</ion-label>
        <ion-input type="text" placeholder="Artist" formControlName="artist"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Title</ion-label>
        <ion-input type="text" placeholder="Title" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary"fixed >Genre</ion-label>
            <ion-select formControlName="genre">
              <ion-option value="Hip-Hop">Hip-Hop</ion-option>
              <ion-option value="Beats">Beats</ion-option>
              <ion-option value="House">House</ion-option>
              <ion-option value="Other">Other</ion-option>
            </ion-select>
      </ion-item>    
      <ion-item>
        <ion-label color="primary" stacked>Facebook Page</ion-label>
        <ion-input type="url" placeholder="https://facebook.com/hetro_official" formControlName="link"></ion-input>
      </ion-item>      
  </ion-list>
  </form>
</ion-content>