<!--
  Generated template for the LaundryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">   
    <ion-title>Borracho Laundry</ion-title>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>  

<ion-list>
<img class="ad-banner" width="100%" height="10pt" src="assets/img/jeans.png">
  <ion-item-group>
    <ion-item-divider color="secondary">
      Laundry
      <button ion-button outline  icon-left item-end (click)="addLaundry()">
        <ion-icon name="add-circle" ></ion-icon>
        Price Calculator
      </button>
    </ion-item-divider>
    <ion-item *ngFor="let order of laundryOrders">
      <ion-icon name="cart" item-start></ion-icon>
        <h2>{{ order.objectId}}</h2>
        <p>
          {{ order.status }}<br/>
          <small><b>Price:</b> R{{ order.amount }} | {{ order.category }}  </small>
        </p>
      <div item-end center text-center>
        <sub>Delivery</sub><br/>
        <ion-icon name="clock" small></ion-icon>
        <p><small>5:00 pm </small></p>
      </div>        
    </ion-item>    
  </ion-item-group>
</ion-list>
<div center text-center padding>
  <ion-spinner *ngIf="showSpinner"></ion-spinner><br/>
  <small *ngIf="spinnerMessage">{{spinnerMessage}}</small>
</div>
</ion-content>
