<!--
  Generated template for the RentalsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

     	
  <ion-toolbar [color]="agentMode ? 'secondary' : 'primary'">
	<ion-segment [(ngModel)]="rentalsSegment" [color]="agentMode ? 'primary' : 'secondary'">
		<ion-segment-button value="all"  >
		  All
		</ion-segment-button>
		<ion-segment-button value="myproperties">
		  My Properties
		</ion-segment-button>
	</ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentSettings($event)" [color]="agentMode ? 'primary' : 'secondary'">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>	
</ion-header>


<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>	

<div [ngSwitch]="rentalsSegment">
  <ion-list  *ngSwitchCase="'all'" no-lines>

	<ion-item *ngFor="let property of rentalProperties">

	  <ion-item color="primary">
	    <ion-avatar item-start>
	      <img src="assets/img/appicon.png">
	    </ion-avatar>
	    <h2 ion-text color="secondary">{{ property.name | uppercase }}</h2>
	    <p>{{ property.suburb | uppercase }} </p>
	    <ion-badge icon-top  color="primary" item-end>
	    	{{ property.price | currency : "R" }}
	    	<br/><sup>per {{ property.period }}</sup>
	    </ion-badge>
	  </ion-item>

	  <img class="property-img" [src]="property.propertyPic ? property.propertyPic : 'assets/imgs/logo.png'">

	  <ion-item-divider color="secondary">
	      <p ion-text color="primary">Want to rent it?</p>
	      <button ion-button outline strong  icon-left item-end (click)="presentContactUs(property)">
	        <ion-icon name="person-add" ></ion-icon>
	      Contact
	    </button>
	  </ion-item-divider>	  
	</ion-item>	  
  </ion-list>

  <ion-list *ngSwitchCase="'myproperties'" >
    <ion-item-divider color="secondary">
      Looking For Tenants?
      <button ion-button outline  icon-left item-end (click)="addProperty()">
        <ion-icon name="add-circle" ></ion-icon>
      Add Property
    </button>
    </ion-item-divider>  	
  	<ion-item-sliding *ngFor="let property of userProperties">
	  <ion-item (click)="openProperty(property)" [color]="property.isVerified ? 'light' : ''">
	    <ion-avatar item-start>
	      <img [src]="property.propertyPic ? property.propertyPic : 'assets/imgs/logo.png'">
	    </ion-avatar>
	    <h2>{{ property.name | uppercase }}</h2>
	    <p>{{ property.price | currency : "R" }} <sub>per {{ property.period}}</sub></p>
	    <button ion-button clear  item-end small [color]="property.isVerified ? 'secondary' : 'primary'"  >
	    	<ion-icon [name]="property.isVerified ? 'eye' : 'eye-off'" ></ion-icon> <br/>
	    	{{ property.isVerified ? 'Verified' : 'Unverified' }}
	    </button>

	  </ion-item>
		<ion-item-options side="right">
			<button ion-button color="danger" (click)="deleteProperty(property)">
				<ion-icon name="trash"></ion-icon>
				Delete
			</button>
		</ion-item-options>
	</ion-item-sliding>		  
  </ion-list>

</div>
<div center text-center padding>
	<ion-spinner *ngIf="showSpinner"></ion-spinner><br/>
	<div *ngIf="spinnerMessage && !showSpinner">
		<h2>Are you offline?</h2>
		<small >{{spinnerMessage}}</small><br/>
		<ion-row padding>
	  <ion-fab center >
	    <button ion-fab color="secondary" (click)="doRefresh()">
	      <ion-icon name="refresh"></ion-icon>
	    </button>
	  </ion-fab>
	  </ion-row>		
	</div>
</div>
</ion-content>
<!-- <ion-footer >
  <ion-toolbar>

    <ion-title icon-left>
    	<ion-icon small name="help-buoy" color="danger"></ion-icon>
    	<small>Do you need help? <a href="tel://27793617077">Call 0793617077</a></small>
    </ion-title>
  </ion-toolbar>
</ion-footer> -->