page-market-listing-detail {
  .market-listing-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .market-listing-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
