<!--
  Generated template for the MarketplacePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">

<ion-searchbar (ionInput)="getmarketPartners($event)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>  


<ion-list>
  <ion-item-sliding *ngFor="let partner of searchResults">
    <ion-item>
      <ion-avatar item-start>
        <img class="property-img" [src]="partner.partnerAvatar ? partner.partnerAvatar.url : 'assets/imgs/logo.png'">
      </ion-avatar>
      <h2>{{ partner.name }}</h2>
      <p>{{ partner.bio }}</p>
      <button ion-button clear item-end (click)="openPartner(partner)">View</button>
    </ion-item>
    <ion-item-options side="left">
      <button ion-button color="primary">
        <ion-icon name="text"></ion-icon>
        Text
      </button>
      <button ion-button color="secondary">
        <ion-icon name="call"></ion-icon>
        Call
      </button>
    </ion-item-options>
    <ion-item-options side="right">
      <button ion-button color="primary">
        <ion-icon name="mail"></ion-icon>
        Email
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>


<!-- <ion-card color="light" *ngFor="let property of items">

  <ion-item>
    <ion-icon name="football" item-start large></ion-icon>
    <h2>Museum of Football</h2>
    <p>11 N. Way St, Madison, WI 53703</p>
  </ion-item>

  <ion-card-content>
  </ion-card-content>

  <ion-row color="primary">
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card> -->

</ion-content>
