<!--
  Generated template for the StudioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  <ion-toolbar [color]="agentMode ? 'secondary' : 'primary'">
    <ion-segment [(ngModel)]="studioSegment" [color]="agentMode ? 'primary' : 'secondary'" (ionChange)="segmentChanged($event)">
      <ion-segment-button value=""  >
        All
      </ion-segment-button>
      <ion-segment-button value="hiphop">
        Hip-Hop
      </ion-segment-button>
      <ion-segment-button value="house">
        House
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>  

    <ion-item-divider color="secondary">
      Get Published!
      <button ion-button outline  icon-left item-end>
        <ion-icon name="add-circle" ></ion-icon>
      Join Borracho Studio 
    </button>
    </ion-item-divider>  
<div [ngSwitch]="studioSegment">
  <ion-list *ngSwitchCase="''">
    <ion-item-sliding *ngFor="let product of studioProducts" >
    <ion-item (click)="openProperty(property)" >
      <ion-thumbnail item-start>
        <img [src]="product.propertyPic ? product.propertyPic : 'assets/imgs/logo.png'">
      </ion-thumbnail>
      <h2>{{ product.title }}</h2>
      <h3>{{ product.artist}}</h3>
      <small>{{ product.duration }}</small>
      <a ion-button  item-end color="primary" [href]="product.file.url" clear small>Download</a>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="primary">
      <ion-icon name="text"></ion-icon>
      Text
    </button>
    <button ion-button color="secondary">
      <ion-icon name="call"></ion-icon>
      Call
    </button>
    </ion-item-options>
  </ion-item-sliding>     
  </ion-list>

  <ion-list *ngSwitchCase="'hiphop'">
    <ion-item-sliding>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/logo.png">
      </ion-thumbnail>
      <h2>Appartments</h2>
      <p>Hayao Miyazaki • 1988</p>
    </ion-item>
    <ion-item-options side="left">
      <button ion-button color="primary">
      <ion-icon name="text"></ion-icon>
      Text
    </button>
    <button ion-button color="secondary">
      <ion-icon name="call"></ion-icon>
      Call
    </button>
    </ion-item-options>
    <ion-item-options side="right">
      <button ion-button color="primary">
        <ion-icon name="mail"></ion-icon>
        Email
      </button>
    </ion-item-options>
  </ion-item-sliding>     
  </ion-list>

  <ion-list *ngSwitchCase="'house'">
    <ion-item-sliding>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/logo.png">
      </ion-thumbnail>
      <h2>RDP HOUSE</h2>
      <p>Hayao Miyazaki • 1988</p>
      <p>3:54</p>
      <button ion-button clear item-end>Download</button>
    </ion-item>
    <ion-item-options side="left">
      <button ion-button color="primary">
      <ion-icon name="text"></ion-icon>
      Text
    </button>
    <button ion-button color="secondary">
      <ion-icon name="call"></ion-icon>
      Call
    </button>
    </ion-item-options>
    <ion-item-options side="right">
      <button ion-button color="primary">
        <ion-icon name="mail"></ion-icon>
        Email
      </button>
    </ion-item-options>
  </ion-item-sliding> 
  </ion-list>

</div>
<div center text-center padding>
  <ion-spinner *ngIf="showSpinner"></ion-spinner><br/>
  <small *ngIf="spinnerMessage">{{spinnerMessage}}</small>
</div>
</ion-content>